<ion-view view-title="Accueil">
    <md-content layout-padding>
        <md-input-container>
            <md-button class="md-raised bouton blanc">Primary</md-button>
        </md-input-container>
        <md-input-container>
            <md-button class="md-raised bouton-bleu blanc">Primary</md-button>
        </md-input-container>


        <div id="OneSignalUserID"></div>
        <div id="OneSignalPushToken"></div>


        <h2 class="vert">Restaurant</h2>
        <h2 class="bleu">Restaurant</h2>
        <h3 class="vert">Apéro</h3>
        <h3 class="bleu">Apéro</h3>
        <h4 class="vert">Sport</h4>
        <h4 class="bleu">Sport</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tortor ante, auctor vitae tempus ut, interdum
            et tellus. Aenean vitae laoreet metus. Mauris vel ornare leo. Cras sit amet massa nec erat laoreet finibus.
            Donec nec interdum lacus, at tristique libero. Cras non fermentum orci, ut tincidunt augue. Pellentesque
            lorem enim, tincidunt eget tincidunt in, consectetur quis ante. Aenean eget varius augue. Pellentesque risus orci,
            efficitur ac porttitor vestibulum, bibendum ac diam. Duis rutrum finibus nisl, elementum suscipit turpis
            finibus et.</p>
        <p>Mauris convallis tellus quis nunc egestas, consequat vestibulum urna sodales. Donec pellentesque elementum
            ex et bibendum. Cras congue orci vitae elit mattis, sed hendrerit elit tempus. Fusce at augue a arcu varius pretium.
            In facilisis aliquam sodales. Vivamus finibus, lorem eget placerat lacinia, orci libero gravida odio, vel
            maximus justo velit id turpis. Phasellus tristique massa nec nisl consequat fringilla. Proin tristique,
            massa sed interdum viverra, ex tellus mattis dolor, id euismod mi diam at ligula. Nullam quis consequat mauris.
            Nullam posuere eleifend orci eget aliquet. Cras augue metus, pellentesque non imperdiet non, gravida sed metus.
            Quisque sodales sem et neque bibendum, ut imperdiet turpis eleifend. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Proin auctor erat ipsum, quis congue lacus fermentum non.</p>
    </md-content>
</ion-view>