<ion-view view-title="Wizem">
    <ion-content scroll="false">
        <div class="max_height">
            <ul class="list max_height">
                <div class="height_3">
                    <li class="item max_height bc-transparent">
                        <h2>En cours</h2>
                    </li>
                </div>
                <div class="height_3">
                    <li class="item max_height bc-transparent">
                        <h2>Prochainement</h2>
                    </li>
                </div>
                <div class="height_3">
                    <li class="item max_height bc-transparent">
                        <h2>Passés</h2>
                    </li>
                </div>
            </ul>
        </div>
    </ion-content>
</ion-view>