<ion-view>
    <md-content layout-padding class="login-page">
        <div class="logo text-center padding-top-large padding-bottom-medium" ng-show="!isLoading">
            <img src="../img/ionic.png" alt="logo Wizem" />
        </div>

        <div class="form padding-top-medium" ng-show="!isLoading">
            <form ng-submit="connexion(username, password)">
                <md-input-container>
                    <label>Login</label>
                    <input id="username" type="text" minlenght="3" ng-model="username">
                </md-input-container>

                <md-input-container>
                    <label>Mot de passe</label>
                    <input type="password" id="password" ng-model="password">
                </md-input-container>

                <md-input-container>
                    <md-button class="md-raised md-primary" type="submit">Connexion</md-button>
                </md-input-container>

                <div class="text-center">
                    <md-button class="md-primary" ui-sref="subscribe">Inscription</md-button>
                </div>
            </form>
        </div>

        <div class="loader">
            <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
        </div>

    </md-content>
</ion-view>