<ion-view view-title="Mes évènements">
    <md-content no-scroll-padding class="padding-bottom-content">
        <div ng-show="!message" ng-repeat="event in eventsList | orderBy : event.date : true" layout="row">
            <div ng-if="event.date" class="date text-center" flex="15">
                <p class="no-margin">{{event.date | date:'dd'}}</p>
                <p class="no-margin">{{event.date | date:'MMM'}}</p>
            </div>
            <div ng-if="!event.date" class="date text-center" flex="15">
                <p class="no-margin">Pas</p>
                <p class="no-margin">Défini</p>
            </div>
            <div class="item item-text-wrap card" ui-sref="app.viewEvent({eventId:event.id})" flex>
                <h2>{{event.type}}</h2>

                <p ng-if="event.place" class="no-margin-bottom">{{event.place}}</p>
                <p ng-if="!event.place" class="no-margin-bottom">Pas de lieux encore définitif.</p>

                <p class="no-margin">Créé par {{event.host}}</p>
            </div>
        </div>
        <div ng-show="message" class="text-center">
            <h4>{{message}}</h4>
        </div>
    </md-content>
</ion-view>