<img ng-show="user.image" ng-src="{{ user.image }}" class="avatar" ng-class="{ 'border-confirm': borderConfirm, 'border-wainting': borderWaiting, 'border-decline': borderDecline }" />
<img ng-show="!user.image"  src="img/bar-1.jpg" class="avatar" ng-class="{ 'border-confirm': borderConfirm, 'border-wainting': borderWaiting, 'border-decline': borderDecline }" />
<p ng-if="user.lastname && user.firstname">{{user.firstname}} {{user.lastname}}</p>
<p ng-if="!user.lastname || !user.firstname">{{user.username}}</p>