<ion-view view-title="Votes de la date">

    <ion-nav-bar class="bar-energized ion-nav-bar shadow-bottom">
        <ion-nav-back-button ng-click="myGoBack()"></ion-nav-back-button>
    </ion-nav-bar>

    <md-content no-scroll-padding>
        <div ng-repeat="date in dates" layout="row" ng-show="!isLoading" flex>
            <div flex="15" class="text-center card-vote">
                <h2 class="no-margin-bottom">{{date.nbVotes}}</h2>
            </div>

            <div class="item item-text-wrap card text-center card-vote" ng-click="vote({date:date.id})" flex="70">
                <h2>{{place.address}}</h2>
            </div>

            <div flex="15" class="text-center card-vote">
                <a class="button button-icon icon ion-checkmark-round no-padding size-medium margin-bottom" ng-show="date.hasVoted"></a>
            </div>
        </div>

        <div class="loader" ng-show="isLoading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

    </md-content>
</ion-view>