<ion-view view-title="Modifier mon profil">
    <md-content layout-padding scroll="false">
        <form name="userForm" ng-submit="editProfile(user)">
            <md-button type="submit" class="md-fab md-fab-top-right md-mini md-primary " aria-label="submit form">
                <md-icon md-svg-icon="check" style="color: white;"></md-icon>
            </md-button>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Prénom</label>
                    <input ng-model="user.firstname">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Nom</label>
                    <input ng-model="user.lastname">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="user.email" required
                           ng-pattern="/^[^\W][a-zA-Z0-9_]+(\.[a-zA-Z0-9_]+)*\@[a-zA-Z0-9_]+(\.[a-zA-Z0-9_]+)*\.[a-zA-Z]{2,4}$/">

                    <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                        <div ng-message="pattern" class="my-message">pattern non respecté
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block">
                    <label>Adresse</label>
                    <input ng-model="user.address">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="xs-block" flex-gt-xs>
                    <label>Code postal</label>
                    <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                            ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                    <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                        <!--<div ng-message="required" class="my-message">You must supply a postal code.</div>-->
                        <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                            code.
                        </div>
                        <div ng-message="md-maxlength" class="my-message">
                            Don't use the long version silly...we don't need to be that specific...
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="xs-block" flex-gt-sm>
                    <label>Ville</label>
                    <input ng-model="user.city">
                </md-input-container>

            </div>
            <md-input-container class="xs-block" flex-gt-xs>
                <h4>Date de naissance</h4>
                <ionic-datepicker input-obj="datepickerBirthday">
                    <button class="button button-block button-positive">{{datepickerBirthday.inputDate | date:'dd - MM - yyyy'}}</button>
                </ionic-datepicker>
            </md-input-container>


            <md-input-container>
                <md-button class="md-raised md-primary" type="submit">Enregistrer</md-button>
            </md-input-container>
        </form>



        <md-button ng-click="takePhoto()" class="md-primary md-hue-1">Photo</md-button>

        <md-button class="md-primary md-hue-1">Changer mot de passe</md-button>

    </md-content>
</ion-view>