<ion-view view-title="Profil">
    <md-content layout="column" class="padding-bottom-content">
        <div class="cover_profile text-center" ng-style="cover_img" flex></div>

        <div class="avatar_profile text-center">
            <img ng-show="user.image"  ng-src="{{user.image}}" alt="avatar">
            <img ng-show="!user.image"  src="img/bar-1.jpg" alt="avatar">
            <p class="username_profile">{{user.username}}</p>
            <p class="name_profile">{{user.firstname}} {{user.lastname}}</p>
        </div>

        <div class="fab_update_profile">
            <md-button class="md-fab md-fab-top-right md-mini md-primary" aria-label="Update profile" ui-sref="app.editProfile">
                <a class="button button-icon icon ion-edit button-calm no-padding no-border size-medium"></a>
            </md-button>
        </div>

        <div class="stats_profile">
            <div class="item item-text-wrap card padding no-padding-left" flex layout="row" layout-wrap>
                <div class="num_stat_profile text-center" flex="20">{{user.nbFriends}}</div>
                <div class="label_stat_profile" flex="65">Amis</div>
                <div class="icon_stat_profile" flex="15">
                    <i class="icon ion-person-stalker"></i>
                </div>
            </div>
            <div class="item item-text-wrap card padding no-padding-left" flex layout="row" layout-wrap>
                <div class="num_stat_profile text-center" flex="20">{{user.parcicipatedEvent}}</div>
                <div class="label_stat_profile" flex="65">Évènements suivis</div>
                <div class="icon_stat_profile" flex="15">
                    <i class="icon ion-paper-airplane" flex="10"></i>
                </div>
            </div>
            <div class="item item-text-wrap card padding no-padding-left" flex layout="row" layout-wrap>
                <div class="num_stat_profile text-center" flex="20">{{user.hostedEvent}}</div>
                <div class="label_stat_profile" flex="65">Évènement organisés</div>
                <div class="icon_stat_profile" flex="15">
                    <i class="icon ion-briefcase"></i>
                </div>
            </div>
        </div>
    </md-content>
</ion-view>